html, body, * {
    box-sizing: border-box;
}

html {
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: rgb(88, 111, 88);
    /* height: 100%; */
}

/* Do a reset of default body settings. */
body {
    padding: 0;
    margin: 0;
    /* height: 100%; */
}

textarea {
    tab-size: 16px;
}

.app {
    padding: .1in;
    height: 100%;
}

.character-tokens-view {
    margin-top: 0.3in;
    /* font-weight: bold; */
}

.character-token {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 0.3in;
    height: 0.3in;
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(241, 246, 247);
    border: 2px dotted rgb(133, 196, 221);
}
