html, body, * {
    box-sizing: border-box;
}

html {
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: rgb(85, 104, 85);
    /* height: 100%; */
}

/* Do a reset of default body settings. */
body {
    padding: 0;
    margin: 0;
    /* height: 100%; */
}

:root {
    --text-color: rgb(241, 246, 247);
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: rgba(128, 78, 71, 0.644);
    color: var(--text-color);
}

.app {
    padding: .1in;
    height: 100%;
}

.tokenizer-builder {
    background-color: rgba(150, 161, 165, 0.541);
    min-height: 100px;
    padding: 8px 4px;
}

.controls-bar {
    display: flex;
    height: 30px;
    align-items: flex-start;
}

.rule .case {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 25px;
}

.matcher {
    background-color: white;
    text-align: center;
    margin: 0 2px;
}

.character-tokens-view {
    margin-top: 0.3in;
    /* font-weight: bold; */
}

.line-of-characters {
    padding: 8px 0;
    vertical-align: middle;
    background-color: rgb(156, 106, 97);
}
.line-of-characters:nth-child(even) {
    background-color: rgb(155, 112, 105);
}

.character-token {
    font-size: 16px;
    background-color: rgba(82, 60, 56, 0.301);
    margin: 2px 3px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    color: var(--text-color);
    border: 1px solid rgb(122, 163, 179);
}
